:root{
    --cor0:pink;
    --cor1:rgb(240, 0, 200);
    --cor2:rgba(240, 0, 160, 0.671);
    --cor3:rgba(241, 0, 189, 0.39);
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--cor3);
}
header{
    background-image: linear-gradient(to top,var(--cor1), var(--cor2), var(--cor3),  var(--cor0));
    color: white;
}
header> h1{
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 1px black;
}
header> p{
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
}
nav{
    background-color: rgb(235, 1, 196);
    padding: 15px;
}
nav> a{
    text-shadow: 1px 1px 1px var(--cor0);
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav> a:hover{
    background-color:var(--cor0);
    color: var(--cor1);
    padding: 15px;
    border-radius: 20px;
    transition: .5s;
    text-decoration: underline;
}
main{
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px ;
    padding: 10px;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}
div{
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    max-height: 500px;
    min-height: 300px;
}
.josia{
    margin-bottom: 10px;
}
img{
    width: 100%;
    border-radius: 20px;
}
article> h1{
    color: var(--cor1);
    padding: 10px;
    text-align: center;
}
.j> p{
    background-color: white;
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
    line-height: 2em;
    
}
article> p{
    text-align: justify;
    text-indent: 20px;
}
article> h2{
    background-image: linear-gradient(to right, var(--cor2), var(--cor3),  var(--cor0), transparent);
    color: var(--cor1);
    text-align: center;
    padding: 10px;
}
aside> h3{
    background-color: var(--cor1);
    color: var(--cor0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}
aside> ul{
    background-color: var(--cor3);
     border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px ;
    padding: 20px;
}
ul> li{
    padding: 5px;
}
footer{
    background-color: var(--cor1);
    margin-top: 10px;
    padding: 15px;
}
footer> p{
    text-align: center;
    font-weight: bold;
}
